@charset "UTF-8";
/* Estilo para botón de registro en el Navbar */
#img-user {
  background-image: url("https://lpscdn.linklaters.com/assets/foundation/images/icon-user.png");
  background-position: top 8px left 0px;
  background-repeat: no-repeat;
  text-decoration: none;
  padding-left: 1%;
}

/* Medidas para las secciones */
.sections-margin {
  padding: 30px 0 30px 0;
}

/* Estilos para las cards en página Index*/
.card {
  margin: 5px;
}

.card-img-top {
  padding: 5% 0 0 0;
}

.form-padding {
  padding: 5%;
}

/* Estilos para la imgs de abogados en página de Nosotros*/
.abg1-img {
  border-radius: 50%;
}
.abg1-img.abg1-img:hover {
  opacity: 0.5;
  transition-duration: 0.8s;
}

.abg2-img {
  border-radius: 50%;
}
.abg2-img.abg2-img:hover {
  opacity: 0.5;
  transition-duration: 0.8s;
}

.abg3-img {
  border-radius: 50%;
}
.abg3-img.abg3-img:hover {
  opacity: 0.5;
  transition-duration: 0.8s;
}

/* Spacing de contenedor en página de Nosotros */
.team-section {
  padding-top: 3%;
  padding-bottom: 3%;
}

#container-us {
  margin-top: 3.5rem;
  height: 100vh;
}

/* Tamaño para grid de página de Servicios*/
.grid-p {
  padding: 0 8% 0 8%;
}

/*Estilo general para botón en página de Blog*/
.button {
  margin-top: 8px;
  width: 240px;
  height: 68%;
}

/* Tamaño del IFrame página de Contacto*/
.iframe-size {
  height: 100vh;
}

/* Estilos para alineación y color de texto en página de contacto */
.text__align, .text__login {
  text-align: justify;
}

.text__login {
  color: #e9ebea;
}

.text__deco {
  text-decoration: none;
}

/* Estilos de opacidad en imgs de página Index*/
.opac__img:hover {
  opacity: 0.5;
  transition-duration: 0.8s;
}

.button {
  color: #af1644;
  background: transparent;
  border: 1px solid #af1644;
  border-radius: 6px;
  padding: 8px 20px;
  font-size: 16px;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  width: auto;
}
.button.button--over {
  background-color: white;
  color: #af1644;
  border: 1px solid #af1644;
}
.button.button--over:hover {
  background-color: #af1644;
  color: white;
}
.button.button__submit {
  padding-bottom: 20px;
}
.button.button__search {
  padding: 0 0 0px 0;
  width: 20rem;
}

.backgrd__tittle b {
  overflow: hidden;
  position: relative;
  float: left;
  height: 35px;
  top: 15px;
}
.backgrd__tittle b .backgrd__text {
  display: inline-block;
  color: #e9ebea;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  animation: move 15s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -32px;
  }
  40% {
    top: -60px;
  }
  60% {
    top: -90px;
  }
  80% {
    top: -120px;
  }
}
/* Media queries*/
@media (max-width: 770px) {
  .no-text {
    display: none;
  }

  .row--margin {
    margin: 8% 0;
  }

  .select--width {
    width: 100%;
  }

  .iframe-size {
    height: 60vh;
  }

  .hidden-text {
    display: none;
  }

  .button--width {
    width: 10em;
    height: 10vh;
  }
}
@media (max-width: 1000px) {
  .no-text {
    display: none;
  }

  .button--width {
    width: 10em;
    height: 10vh;
  }
}

/*# sourceMappingURL=style.css.map */
