// Animación de botones
.button {
  color: $primary;
  background: $danger;
  border: 1px solid $primary;
  border-radius: 6px;
  padding: 8px 20px;
  font-size: 16px;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  width: auto;

  &.button--over {
    background-color: white;
    color: $primary;
    border: 1px solid $primary;
  }

  &.button--over:hover {
    background-color: $primary;
    color: white;
  }

  &.button__submit {
    padding-bottom: 20px;
  }

  &.button__search {
    padding: 0 0 0px 0;
    width: 20rem;
  }
}

// Animación de texto en página de Blog
.backgrd__tittle b {
  overflow: hidden;
  position: relative;
  float: left;
  height: 35px;
  top: 15px;
  & .backgrd__text {
    display: inline-block;
    color: #e9ebea;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    animation: move 15s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
  }
}

@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -32px;
  }
  40% {
    top: -60px;
  }
  60% {
    top: -90px;
  }
  80% {
    top: -120px;
  }
}
