/* Estilos de opacidad en imgs de página Index*/
$imagen1: bank;
$imagen2: insurance;
$imagen3: buro;

.opac__img:hover {
  @if $imagen1 == bank {
    opacity: 0.5;
  } @else if $imagen2 == insurance {
    opacity: 0.5;
  } @else if $imagen3 == buro {
    opacity: 0.5;
  }
}
