/* Estilo para botón de registro en el Navbar */
#img-user {
  background-image: url("https://lpscdn.linklaters.com/assets/foundation/images/icon-user.png");
  background-position: top 8px left 0px;
  background-repeat: no-repeat;
  text-decoration: none;
  padding-left: 1%;
}

/* Medidas para las secciones */
.sections-margin {
  padding: 30px 0 30px 0;
}

/* Estilos para las cards en página Index*/
.card {
  margin: 5px;
}

.card-img-top {
  padding: 5% 0 0 0;
}

.form-padding {
  padding: 5%;
}

/* Estilos para la imgs de abogados en página de Nosotros*/
@each $abogado in abg1, abg2, abg3 {
  .#{$abogado}-img {
    border-radius: 50%;
    &.#{$abogado}-img:hover {
      opacity: 0.5;
      transition-duration: 0.8s;
    }
  }
}

/* Spacing de contenedor en página de Nosotros */
.team-section {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}

#container-us {
  margin-top: $mt;
  height: $height-img;
}

/* Tamaño para grid de página de Servicios*/

.grid-p {
  padding: $padding;
}

/*Estilo general para botón en página de Blog*/
.button {
  margin-top: 8px;
  width: $btn-size;
  height: $btn-height;
}

/* Tamaño del IFrame página de Contacto*/
@at-root .iframe-size {
  height: $height-img;
}

/* Estilos para alineación y color de texto en página de contacto */
.text__align {
  text-align: justify;
}

.text__login {
  @extend.text__align;
  color: #e9ebea;
}

.text__deco {
  text-decoration: $text-decoration;
}

// Estilos para la página de error 404 //
.page-404 {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-border {
  border-right: solid black 1px;
}
