// Variables globales

$font-family-base: "Poppins", sans-serif;
$btn-size: 240px;
$btn-height: 68%;
$mt: 3.5rem;
$height-img: 100vh;
$padding: 0 8% 0 8%;
$padding-top: 3%;
$padding-bottom: 3%;
$layout-breakpoint-sm: 770px;
$layout-breakpoint-md: 1000px;
$margin-services: 8% 0;
$primary: rgb(175, 22, 68);
$secondary: #012340;
$danger: transparent;
$success: #008cba;
$text-decoration: none;
