@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");

$font-family-base: "Poppins", sans-serif;
$primary: rgb(67, 201, 100);
$secondary: #469fbd;
$danger: transparent;
$success: #008cba;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
