#img-user {
  background-image: url("https://lpscdn.linklaters.com/assets/foundation/images/icon-user.png");
  background-position: top 8px left 0px;
  background-repeat: no-repeat;
  text-decoration: none;
  padding-left: 1%;
}
